{% macro description(value, alternative='Consider adding a value') %}
    {% if value %}
        {% if value is iterable and value is not string %}
            {% for v in value %}
            <p>{{ v }}</p>
            {% endfor %}
        {% else %}
            <p>{{ value }}</p>
        {% endif %}
    {% else %}
        <p class="text-danger">{{ alternative }}</p>
    {% endif %}
{% endmacro %}

{% macro language(language, alternative='Consider adding language terms') %}
    {% if language %}
        <dl>
        {% for item in language %}
            <dt>{{ item.term }}</dt>
            <dd>{{ item.definition }}</dd>
        {% endfor %}
        </dl>
    {% else %}
        <p class="text-danger">{{ alternative }}</p>
    {% endif %}
{% endmacro %}

{% macro definition(concept, alternative='Consider adding a concept from the domain language') %}
    {% if concept %}
        <span>{{ concept.definition }}</span>
    {% else %}
        <span class="text-danger">Consider adding a concept from the domain language</span>
    {% endif %}
{% endmacro %}
