<footer>
    <small>
        <ul class="company">
            <li>© {{ domain.copyright }}</li>
            <li>(v. {{ domain.published_version }})</li>
        </ul>

        <ul class="footer-nav">
            <li><a href="{{ url_for('views.about') }}">About</a></li>
            <li><a href="mailto:{{ domain.contact_email }}">Contact</a></li>
        </ul>
    </small>
</footer>
