<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico') }}">

    <title>{% block page_title %}Open Domain{% endblock %}</title>

    <meta
        name="description"
        content="{% block meta_description %}{% endblock %}"
    />
    <meta name="author" content="Jeff Bonevich" />

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/open-domain.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% include "nav.html" %}

    <header>{% block header %}{% endblock %}</header>

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>-->
<!--    <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.bundle.js') }}"></script>-->
    <script src="{{ url_for('static', filename='scripts/open-domain.js') }}"></script>

    {% block js %}{% endblock %}
</body>
</html>
