{% from "considerations.html" import definition %}

{% macro model_objects(header, models, show_concept=true) %}
{% if models %}
<div>
    <span class="fst-italic">{{ header }}</span>
    <ul>
        {% for item in models %}
        <li>
            <a href="{{ url_for('views.model_object', bounded_context_name=item.bounded_context.name, model_name=item.name) }}">{{ item.name }}</a>{% if show_concept %}: {{ definition(item.concept) }}{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{% macro modules(modules) %}
<div class="accordion">
    {% for module in modules %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading-{{loop.index}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{loop.index}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{loop.index}}">{{ module.full_name }}</button>
        </h2>
        <div id="panelsStayOpen-collapse-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-{{loop.index}}">
            <div class="accordion-body">
                <div>
                    <p>
                        {% if module.concept %}
                        Model objects for <strong>{{ module.concept.term }}</strong>: {{ module.concept.definition }}
                        {% else %}
                        <span class="text-danger">Consider adding a concept from the domain language to this module</span>
                        {% endif %}
                    </p>
                </div>
                {{ model_objects('Sub-modules', module.modules) }}
                {{ model_objects('Entities', module.entities) }}
                {{ model_objects('Aggregates', module.aggregates) }}
                {{ model_objects('Domain Events', module.domain_events) }}
                {{ model_objects('Value Objects', module.value_objects) }}
                {{ model_objects('Domain Services', module.services) }}
                {{ model_objects('Factories', module.factories, false) }}
                {{ model_objects('Repositories', module.repositories, false) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}