{% extends "layout.html" %}

{% block page_title %}Open Domain: About{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
        <p class="lead">Domain Driven Design for {{ domain.name }}</p>
    </div>
</div>
{% endblock %}
