{% extends "layout.html" %}

{% block content %}
{% from "considerations.html" import description %}
{% from "modules.html" import modules %}
<div class="container">
    <div class="row">
        <div>
            <h2>{{ bc.name }} Context</h2>
            <p>{{ bc.name }} is a bounded context within {{ domain.name }}.</p>

            <h4>Description</h4>
            {{ description(bc.description, 'Consider adding a description to the bounded context') }}

            <h4>Subdomain</h4>
            {% if bc.subdomains.has_multiple %}
                <p>This bounded context applies to the following domains <span class="text-danger">(Note: this is a violation; there ought to be only one subdomain per bounded context)</span>:</p>
                <ul>
                    {% for sub in bc.subdomains %}
                    <li><a href="{{ url_for('views.domain', name=sub.name) }}">{{ sub.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This bounded context applies to the <a href="{{ url_for('views.domain', name=bc.subdomains.first.name) }}">{{ bc.subdomains.first.name }}</a> domain.</p>
            {% endif %}

            <h4>Team</h4>
            <p><a href="{{ url_for('views.team', name=bc.team.name) }}">{{ bc.team.name }}</a></p>

            <h4>Source Code</h4>
            <p><a href="{{ bc.scm_url }}" target="_blank" class="external-link">{{ bc.scm_url }}</a></p>

            <h4>Continuous Integration</h4>
            <p><a href="{{ bc.ci_url }}" target="_blank" class="external-link">{{ bc.ci_url }}</a></p>

            <h4>Relationships</h4>
            <div>
                <ul>
                    {% for rel in bc.relationships %}
                    {% set other_markup | safe %}

                    {% endset %}
                    <li>
                        {{ rel.description }}
                        <a href="{{url_for('views.bounded_context', name=rel.other_participant) }}">{{ rel.other_participant }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <h4>Modules</h4>
            {% if bc.modules %}
                {{ modules(bc.modules) }}
            {% else %}
                <p class="text-danger">Consider adding modules to this bounded context</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
