{% extends "layout.html" %}

{% block content %}
{% from "considerations.html" import description, language %}
<div class="container">
    <div class="row">
        <div>
            <h2>{{ subdomain.name }}</h2>
            <p>{{ subdomain.name }} is a <strong>{{ subdomain.classification }}</strong> subdomain of {{ domain.name }}.</p>

            <h4>Vision</h4>
            {{ description(subdomain.vision, 'Consider adding a vision statement for the domain') }}

            <h4>Description</h4>
            {{ description(subdomain.description, 'Consider adding a description') }}

            <h4>Domain Concepts</h4>
            {{ language(subdomain.domain_concepts, 'Consider adding domain concepts') }}
        </div>
    </div>
</div>
{% endblock %}
