{% extends "layout.html" %}

{% block page_title %}Open Domain: {{ domain.name }}{% endblock %}

{% block content %}
{% from "considerations.html" import description %}
<div class="container">
    <div class="row">
        <div>
            <h2>{{ domain.name }}</h2>

            {{ description(domain.description, 'Consider adding a description') }}
        </div>
        <div>
            <h3>Subdomains</h3>
            <p class="od-linked-h5">
                <a href="{{ url_for('views.domain', name=domain.core_domain.name) }}">{{ domain.core_domain.name }} (Core)</a>
            </p>
            <p>
                {{ description(domain.core_domain.vision, 'Consider adding a vision statement for the subdomain') }}
            </p>

            {% for sub in domain.subdomains %}
            <p class="od-linked-h5">
                <a href="{{ url_for('views.domain', name=sub.name) }}">{{ sub.name }} ({{ sub.classification }})</a>
            </p>
            <p>
                {{ description(sub.vision, 'Consider adding a vision statement for the subdomain') }}
            </p>
            {% endfor %}

            {% if domain.core_domain_chart %}
            {% set chart = domain.core_domain_chart %}
            <div class="text-center">
                <figure class="figure">
                    <a href="{{ url_for('views.image', filename=chart.filename) }}" target="_blank">
                        <img src="{{ url_for('views.image', filename=chart.filename) }}"
                             style="width: {{ chart.width|default('100%') }}; height: {{ chart.height|default('auto') }};"
                             class="figure-img"
                        />
                    </a>
                    <figcaption class="figure-caption text-center">Core Domain Chart</figcaption>
                </figure>
            </div>
            {% endif %}
        </div>
        <div>
            <h3>Context Map</h3>
            {% for bc in domain.context_map.bounded_contexts %}
            <p class="od-linked-h5">
                <a href="{{ url_for('views.bounded_context', name=bc.name) }}">{{ bc.name }}</a>
            </p>
            {% endfor %}

            {% if domain.context_map.context_map_diagram %}
                {% set diagram = domain.context_map.context_map_diagram %}
            <div class="text-center">
                <figure class="figure">
                    <a href="{{ url_for('views.image', filename=diagram.filename) }}" target="_blank">
                        <img src="{{ url_for('views.image', filename=diagram.filename) }}"
                             style="width: {{ diagram.width|default('100%') }}; height: {{ diagram.height|default('auto') }};"
                             class="figure-img"
                        />
                    </a>
                    <figcaption class="figure-caption text-center">Context Map Diagram</figcaption>
                </figure>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
