{% extends "layout.html" %}

{% block content %}
{% from "considerations.html" import description, definition %}
{% from "modules.html" import modules, model_objects %}
<div class="container">
    <div class="row">
        <div>
            <h2>{{ model.name }}</h2>
            <p>
                {{ model.name }} is {{ model.type|indefinite }} model object within the
                <a href="{{ url_for('views.bounded_context', name=bc.name) }}">{{ bc.name }}</a> bounded context.
            </p>

            <h4>Description</h4>
            {{ description(model.description, 'Consider adding a description to the model object') }}

            {% if model.module %}
            <h4>Module</h4>
            <p>
                <a href="{{ url_for('views.model_object', bounded_context_name=bc.name, model_name=model.module.name) }}">
                    {{ model.module.full_name }}
                </a>
            </p>
            {% endif %}

            {% if model.type == 'Module' %}
                <h4>Model Objects</h4>
                {{ model_objects('Entities', model.entities) }}
                {{ model_objects('Aggregates', model.aggregates) }}
                {{ model_objects('Domain Events', model.domain_events) }}
                {{ model_objects('Value Objects', model.value_objects) }}
                {{ model_objects('Domain Services', model.services) }}
                {{ model_objects('Factories', model.factories, false) }}
                {{ model_objects('Repositories', model.repositories, false) }}

                {% if model.modules %}
                <h4>Sub-modules</h4>
                {{ modules(model.modules) }}
                {% endif %}
            {% elif model.supports_attributes %}
                <h4>Attributes</h4>
                <ul>
                    {% if model.type == 'Entity' %}
                        {% if model.id %}
                        <li><strong>{{ model.id.name}}</strong> ({{ model.id.type }}; identifier)</li>
                        {% else %}
                        <li><span class="text-danger">Requires an identifier</span></li>
                        {% endif %}
                    {% endif %}

                    {% for attr in model.attributes %}
                    <li><em>{{ attr.name }}</em> ({{ attr.type }})</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
