{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <h2>Team {{ team.name }}</h2>
            <h4>Product Owner</h4>
            <p><a href="mailto:{{ team.contact }}">{{ team.product_owner }}</a></p>
            <h4>Team Website</h4>
            <p><a href="{{ team.website }}" target="_blank" class="external-link">{{ team.website }}</a></p>
        </div>
    </div>
</div>
{% endblock %}
